:root{
  --dBlue: #4C4C9D;
  --blue: #48639C;
  --yellow: #FFD041;
  --brown: #A0794B;
  --green: #6B985D;
  --white: rgba(225, 233, 241, 0.943);
}

.logo{
  width: 75px;
  height: 75px;
}

.suggestions {
  list-style: none;
  background-color:#585ae4;
  border-radius: 1.6px;

}

.geocoder-dropdown-item {
padding: 5px;
}
.geocoder-dropdown-icon {
margin-right: 10px;
/* background-color:red; */
}
.geocoder-dropdown-text {
color: var(--white);
background-color: var(--Dblue);
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
border-radius: 1.6px;
}

.mapbox-ctrl-geocoder--powered-by{
  display: none;
}

.mapbox-ctrl-geocoder--pin-right{
  display: none;
}

.footer {
  padding:5px;
  background-color: #48639C;
  color:rgb(255, 157, 0);
  text-align: center;
position: fixed;
 margin-top: 50px;
 /* border:solid red; */
 display: flex;
 bottom: 0;
 width: 100%;
}


.header{
  padding: 13px;
  background-color:#6B985D;
  margin: auto;
  margin-bottom: 50px;
  /* border:solid red */
}

/* .logo{
  align-content: center;
} */

footBtn{
  text-align: left;
  background-color: #6B985D;
 
}

body{
  /* background-color: #FFD041; */
  /* border:solid rgb(251, 0, 255); */
  margin: 50 auto;
  padding: 20px;
  height: fit-content;
  min-height: 50vh;
  height: 5px;
}
#root{
  border: solid rgb(27, 40, 8);
  background-color:#FFD041
}


.btn-primary {
  background-color:#6B985D;
  }


a{
  background-color:#6B985D;
  color:rgb(240, 247, 244);
  margin: 5px 5px 5px 5px;
  height: 2rem


}



/* ul.suggestions {
  list-style: none;
  background-color:#75edf5;
  border-radius: 1.6px;

} */