:root{
  --dBlue: #4C4C9D;
  --blue: #48639C;
  --yellow: #FFD041;
  --brown: #A0794B;
  --green: #6B985D;
  --white: rgba(225, 233, 241, 0.943);
}

.logo{
  width: 75px;
  height: 75px;
}

.suggestions {
  list-style: none;
  background-color: var(--dBlue);
  border-radius: 1.6px;
}

.geocoder-dropdown-item {
padding: 5px;
}
.geocoder-dropdown-icon {
margin-right: 10px;
}
.geocoder-dropdown-text {
color: var(--white);
background-color: var(--Dblue);
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
border-radius: 1.6px;
}

.mapbox-ctrl-geocoder--powered-by{
  display: none;
}

.mapbox-ctrl-geocoder--pin-right{
  display: none;
}

