:root{
  --dBlue: #4C4C9D;
  --blue: #48639C;
  --yellow: #FFD041;
  --brown: #A0794B;
  --green: #6B985D;
  --white: rgba(225, 233, 241, 0.943);
}

.logo{
  width: 75px;
  height: 75px;
}

.suggestions {
  list-style: none;
  background-color:#585ae4;
  border-radius: 1.6px;

}

#root{
  border: solid rgb(27, 40, 8);
  background-color:#FFD041;
  height: 100vh;
}


.btn-primary {
  background-color:#6B985D;
  }


a{
  background-color:#6B985D;
  color:rgb(240, 247, 244);
  text-decoration: none;
  /* margin: 5px 5px 5px 5px;
  height: 2rem */


}

section{
  margin: 5%;
  border: black solid
}


/* ul.suggestions {
  list-style: none;
  background-color:#75edf5;
  border-radius: 1.6px;

} */




