/* button.routeButton{
    position: relative;
    top: -40px;
    margin-left: 3%;
}
.mapboxgl-ctrl-bottom-left{
    display: none;
}
.create-map-container{
    display: flex;
} */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


main{
    display: flex;
    flex-direction: column;
}
header.header{
    width: 100%;
    margin: 0%;
}
section.map-container{
    max-height: 50vh;
    width: 85%;
    margin: 1%;
}
canvas.mapboxgl-canvas{
    position: relative;
    width: 75vh;
    overflow: visible;

}
section.controls{
    margin: 0;
    border: none;
}
div.blah{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button.routeButton{
    height: 10vh;
    width: 50%;
}
footer.footer{
    padding: 0%;
    position: relative;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 65px;
}